<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="silent.kuasapmaterial"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/DrawerToolbarAppTheme">
		<activity
			android:name=".LoginActivity"
			android:theme="@style/DrawerToolbarAppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".LoadingActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".LogoutActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".MessagesActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".BusActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".BusReservationsActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".CourseActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".PickSemesterActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name=".AboutActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
	</application>

</manifest>
