<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.kuas.ap.donate"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

	<application
		android:name="silent.kuasapmaterial.base.SilentApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/DrawerToolbarAppTheme">

		<activity
			android:name="silent.kuasapmaterial.LoginActivity"
			android:theme="@style/DrawerToolbarAppTheme"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="silent.kuasapmaterial.LoadingActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.LogoutActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.MessagesActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.BusActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.BusReservationsActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.CourseActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.PickSemesterActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.AboutActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.ScoreActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.LeaveActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.OpenSourceActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.UserInfoActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>
		<activity
			android:name="silent.kuasapmaterial.SettingsActivity"
			android:theme="@style/DrawerToolbarAppTheme"/>

		<receiver android:name="silent.kuasapmaterial.BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</receiver>

		<service android:name="silent.kuasapmaterial.BusAlarmService"/>
		<service android:name="silent.kuasapmaterial.CourseAlarmService"/>
		<service android:name="silent.kuasapmaterial.CourseVibrateAlarmService"/>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="e15d6071bb62dddcb64d4b3ac3bbc9a870c2b90b"/>
	</application>

</manifest>
